<div class="container">
    <div class="card mx-auto ">
            <figure class="text-center">
                <h1 *ngIf="newSubject()!=true">Tantárgy módosítása</h1>
                <h1 *ngIf="newSubject()">Új tantárgy</h1>
            </figure>
            <div class="row justify-content-md-center">
                <div class="col-7">
                    <form #subjectPost="ngForm" (ngSubmit)="onSubmit(subjectPost.value)" >
                        <div class="mb-3 row">
                            <label for="name" class="col-sm-2 col-form-label">Cím</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name" name = "name" ngModel value="{{subject?.name}}" required>
                            </div>
                        </div>
                    
                        <div class="form-group row" >
                            <label for="description" class="col-sm-2 col-form-label">Leírás</label>
                            <div class="col">
                                <textarea rows="2" class="form-control" id="description" name = "description" ngModel value="{{subject?.description}}"></textarea>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="kredit" class="col-sm-2 col-form-label">Kreditek</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" id="kredit" name = "kredit" ngModel value="{{subject?.kredit}}" min="1" placeholder="1">
                            </div>
                        </div>
                    
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn btn-dark">Mentés</button>
                        </div>
                    </form>
                </div>
            </div>   
    
    <div class="d-grid gap-2 col-1 backButton">
        <button class="btn btn-dark " (click)="back()">Vissza</button>
    </div>
</div>

<div class="row" *ngIf="newSubject()!=true">
    <div class="card col">
        <figure class="text-center">
            <h4>Óra felvétele</h4>
        </figure>
            <form #periodPost="ngForm" (ngSubmit)="onSubmitPeriod(periodPost.value)">
                <div class="form-group row">
                    <label for="day" class="col-4 form-label">Nap</label>
                    <div class="col">
                        <select class="form-control" id="day" name="day" ngModel>
                            <option>Hétfő</option>
                            <option>Kedd</option>
                            <option>Szerda</option>
                            <option>Csütörtök</option>
                            <option>Péntek</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="start" class="col-4 form-label">Kezdés</label>
                    <div class="col">
                        <input type="time" min="8:00:00" max="16:00:00" id="start" name="start" ngModel>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="length" class="col-4 form-label">Óra hossza</label>
                    <div class="col input-group">
                        <input type="number" min="45" max="90" step="5" id="length" name="length" ngModel>
                        <div class="input-group-append">
                            <span class="input-group-text">perc</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="type" class="col-4 form-label">Óra típusa</label>
                    <div class="col">
                        <select class="form-control" id="type" name="type" ngModel>
                            <option>Előadás</option>
                            <option>Labor</option>
                            <option>Gyakorlat</option>
                        </select>
                    </div>
                </div>
                <div class="d-grid col-6 mx-auto">
                    <button type="submit" class="btn btn-dark btn-sm">Óra felvétele</button>
                </div>
            </form>
    </div>
    <div class="card col">
        <figure class="text-center">
            <h4>ZH felvétele</h4>
        </figure>
        <form #zhPost="ngForm" (ngSubmit)="onSubmitZh(zhPost.value)">
            <div class="form-group row">
                <label for="date" class="col-4 form-label">Dátum</label>
                <div class="col">
                    <input type="date" id="date" name="date" ngModel>
                </div>
            </div>
            <div class="form-group row">
                <label for="maxPoints" class="col-4 form-label">Pontok</label>
                <div class="col">
                    <input type="number" min="0" step="5" id="maxPoints" name="maxPoints" ngModel>
                </div>
            </div>
            <div class="form-group row">
                <label for="countin" class="col-4 form-label">Jegybe számít</label>
                <div class="col">
                    <input type="checkbox" class="form-check-input" id="countin" name="countin" ngModel>
                </div>
            </div>
            <div class="d-grid col-6 mx-auto">
                <button type="submit" class="btn btn-dark btn-sm">ZH felvétele</button>
            </div>
        </form>
    </div>

    <div class="card col d-flex ">
        <figure class="text-center">
            <h4>Házi feladat felvétele</h4>
        </figure>
        <form #homeworkPost="ngForm" (ngSubmit)="onSubmitHomework(homeworkPost.value)">
            <div class="form-group row">
                <label for="date" class="col-3 form-label">Leadási határidő</label>
                <div class="col">
                    <input type="date" id="date" name="date" ngModel>
                </div>
            </div>
            <div class="form-group row">
                <label for="maxPoints" class="col-3 form-label">Pontok</label>
                <div class="col">
                    <input type="number" min="0" step="5" id="maxPoints" name="maxPoints" ngModel>
                </div>
            </div>
            <div class="form-group row" >
                <label for="description" class="col-3 form-label">Leírás</label>
                <div class="col">
                    <textarea rows="1" class="form-control" id="description" name = "description" ngModel></textarea>
                </div>
            </div>
            <div class="d-grid align-self-end col-6 mx-auto ">
                <button type="submit" class="btn btn-dark btn-sm">Házi felvétele</button>
            </div>
        </form>
    </div>
</div>
</div>
