<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <span class="navbar-brand mb-0 h1">Tervező</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class = "navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" *ngIf="loggedIn()!=true" routerLink="/login">Belépés</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" *ngIf="loggedIn()!=true" routerLink="/newuser">Regisztráció</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="loggedIn()" routerLink="/profile">Fiók</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="loggedIn()" routerLink="/subjects">Tantárgyak</a>
          </li>          
          <li class = "nav-item">
            <a class="nav-link" (click)="logout()" *ngIf="loggedIn()" routerLink="/login">Kilépés</a>
          </li>
        </ul>
      </div>
    </div>
 </nav>
 <router-outlet></router-outlet>