<div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card">
            <div class="align-items-center text-center">
              <div>
                <h4>{{semester?.name}}</h4>
                <small *ngIf="current()">(Aktuális)</small>
              </div>
              <div>
                {{createDateStringWithYear(semester?.start)}} - {{createDateStringWithYear(semester?.end)}} 
              </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
          <div class="col-auto">
            <nav>
              <ul class="pagination">
                <li class="page-item" >
                  <a class="page-link"  aria-label="Previous" disabled="true" (click)="previous()">
                    <span aria-hidden="true"  >&laquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" aria-label="Next" (click)="next()">
                    <span aria-hidden="true"  aria-disabled="false" >&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <div *ngIf="admin()">
              <button class="btn btn-dark" *ngIf="admin()"  (click)="updateSemester()">Módosítás</button>
              <button class="btn btn-dark" *ngIf="admin() && !current()"  (click)="setCurrent()">Beállítás aktuális félévként</button>
            </div>
          </div>
        </div>

          <div class="card">
            <div *ngIf="holidays != undefined">
              <figure class="text-center">
                <h4 class="header">Ünnepnapok és szabadnapok</h4>
              </figure>

              <tr *ngFor="let holiday of holidays; index as i; first as isFirst" class="row">
                <div class="row">
                  <div class="row justify-content-between holidaydate">
                    <p class="col holidaydate" ><strong>{{createDateString(holiday?.date)}}</strong> - {{holiday.name}}</p>
                    <div class="col-auto holidaydate" (click)="deleteHoliday(holiday.id)" *ngIf="admin()"><i class="fa fa-trash"></i></div>
                  </div>
                  <p class="holidaydescription"><small>{{holiday.description}}</small></p>
                </div>
              </tr>
            </div>

            <div *ngIf="admin()">
              <hr >
              <div class="row justify-content-center">
                <div class="col-auto">
                  <a class="btn btn-dark btn-sm"  href="/holidayupdate">Új ünnepnap felvétele</a>
                </div>
              </div>
            </div>
          </div>
      </div>  
      <div class="col-8" *ngIf="!admin()">
          <div class="card">
            <figure class="text-center">
              <h4 class="header">Felvett tantárgyak</h4>
            </figure>
            <table class="table  text-center">
              <thead class="thead-light">
                <tr>
                    <th scope="col">Tantárgy neve</th>
                    <th scope="col">Kreditek</th>
                    <th scope="col">Részletek</th>
                    <th scope="col">Jegy</th>
                </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let subject of subjects; index as i; first as isFirst">
                      <th scope="col">{{subject.name}}</th>
                      <th scope="col">{{subject.kredit}}</th>
                      <th scope="col" class="btn" (click)="details(subject.id)"><i class="fa fa-search"></i></th>
                      <th scope="col">{{getGradeForSubject(subject.id)}}</th>
                  </tr>
              </tbody>
            </table>
          </div>

        <div *ngIf="!admin()">
          <div class="card">
            <figure class="text-center">
              <h4 class="header">Zh</h4>
            </figure>
              <div *ngFor="let grade of grades; index as i">
                <div *ngIf="grade.gradeZHList.length>0">
                  <div><strong>{{grade.subjectName}}</strong></div>
                  <div *ngFor="let g of grade.gradeZHList; index as j">
                    <form #pointsPost="ngForm" (ngSubmit)="onSubmitZH(pointsPost.value, g.zh!, i, j)">
                      <div class="row justify-content-between" *ngIf="g.zh!=null">
                          <div class="col-auto row">
                            <div class="col-auto">ZH{{j+1}} - {{createDateString(g.zh.date)}}</div>
                            <input class="col" type="number" id="points" name="points" min="0" max="{{g.zh.maxPoints}}" *ngIf="this.edit  && editLine(i, j)" ngModel>
                            <div class="col-auto" *ngIf="!(this.edit  && editLine(i, j))">{{g.points}}</div>
                            <div class="col-auto"> / {{g.zh.maxPoints}}</div>
                            <div class="col-auto" *ngIf="g.zh.countin"><small>jegybe számít</small></div>
                          </div>
                          <div class="col-auto" *ngIf="current()">
                            <i class="fa fa-pencil" type="button" (click)="editPoints(i, j)" *ngIf="!this.edit"></i>
                            <button type="submit" *ngIf="this.edit && editLine(i, j)" class="btn">
                              <i class="fa fa-check-square"  ></i>
                            </button>
                          </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <figure class="text-center">
                <h4 class="header">Házi feladatok</h4>
              </figure>

                <div *ngFor="let grade of grades; index as i">
                  <div *ngIf="grade.gradeHomeworks.length>0">
                    <div><strong>{{grade.subjectName}}</strong></div>
                    <div *ngFor="let g of grade.gradeHomeworks; index as j">
                      <form #pointsPostHomework="ngForm" (ngSubmit)="onSubmitHomework(pointsPostHomework.value, g.homework!, i, j)">
                        <div class="row justify-content-between" *ngIf="g.homework!=null">
                            <div class="col-auto row">
                              <div class="col-auto">{{j+1}}. Házi feladat - {{createDateString(g.homework.date)}}</div>
                              <input class="col" type="number" id="points" name="points"min="0" max="{{g.homework.maxPoints}}" *ngIf="this.edit  && editLine(i, j)" ngModel>
                              <div class="col-auto" *ngIf="!(this.edit  && editLine(i, j))">{{g.points}}</div>
                              <div class="col-auto"> / {{g.homework.maxPoints}}</div>
                            </div>
                            <div class="col-auto" *ngIf="current()">
                              <i class="fa fa-pencil" type="button" (click)="editPoints(i, j)" *ngIf="!this.edit"></i>
                              <button type="submit" *ngIf="this.edit && editLine(i, j)" class="btn">
                                <i class="fa fa-check-square"></i>
                              </button>
                            </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
  </div>

<div class="fixed-bottom" *ngIf="admin()">
  <div class="row justify-content-center ">
      <div class="col-auto">
        <button class="btn btn-dark"  (click)="newSemester()">Új félév</button>
      </div>
  </div>
</div>