<div class="d-grid gap-2 col-6 mx-auto">
    <figure class="text-center">
        <h1>Regisztráció</h1>
    </figure>
    <form (ngSubmit)="onSubmit()" [formGroup]="newUserForm">    
        <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label">Név</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" formControlName = "name">
                <div>
                    <small *ngIf ="name  && name.invalid && name.touched" style="color: red;">A név megfadása kötelező!</small>
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="neptun" class="col-sm-2 col-form-label">Neptun</label>
            <div class="col-sm-10">
                <input type="neptun" class="form-control" id="neptun" formControlName = "neptun">
                <div>
                    <small *ngIf ="neptun  && neptun.invalid && neptun.touched" style="color: red;">A NEPTUN kód megadása kötelező! Hossza 5 karakter</small>
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" formControlName = "email" value="example@example.com">
                <div>
                    <small *ngIf ="email  && email.invalid && email.touched" style="color: red;">Az email-cím kötelező</small>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" formControlName = "password">
                <div>
                    <small *ngIf ="password  && password.invalid && password.touched" style="color: red;">A jelszó megadása kötelező! Hossza min 8 karakter</small>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="birthDate" class="col-sm-2 col-form.label">Születési dátum</label>
            <div  class="col-sm-10">
                <input type="date" id="birthDate" formControlName="birthDate">
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
    
            <button type="submit" class="btn btn-dark" [disabled]="newUserForm.invalid">Regisztrálok</button>
    
        </div>
