<div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
            <div class="text-center">
                <h4>{{todayStr}}</h4>
                <h5>{{day}}</h5>
            </div>
            <div class="text-center" *ngIf="isHolidayResult">
              <h5 style="color: red;">Ma szünnap van!</h5>
            </div>
        </div>
      </div>
</div>
</div>
<div *ngIf="admin()" class="text-center"><h4>Admin vagy, nincsenek óráid :)</h4></div>
<div class="container" *ngIf="!admin()">
  <div class = "row">
    <div class="col card base">
      <div class="text-center"><h5>Hétfő</h5></div>
      <div *ngFor="let period of period_Monday">
        <div class="card">
          <div><strong>{{period.subjectName}} - {{period.period.type}}</strong></div>
          <div>Kezdés: {{period.period.start}}</div>
          <div>Hossza: {{period.period.length}} perc</div>
        </div>
      </div>
    </div>
    <div class="col card base">
      <div class="text-center"><h5>Kedd</h5></div>
      <div *ngFor="let period of period_Tuesday">
        <div class="card">
          <div><strong>{{period.subjectName}} - {{period.period.type}}</strong></div>
          <div>Kezdés: {{period.period.start}}</div>
          <div>Hossza: {{period.period.length}} perc</div>
        </div>
      </div>
    </div>
    <div class="col card base">
      <div class="text-center"><h5>Szerda</h5></div>
      <div *ngFor="let period of period_Wednesday">
        <div class="card">
          <div><strong>{{period.subjectName}} - {{period.period.type}}</strong></div>
          <div>Kezdés: {{period.period.start}}</div>
          <div>Hossza: {{period.period.length}} perc</div>
        </div>
      </div>
    </div>
    <div class="col card base">
      <div class="text-center"><h5>Csütörtök</h5></div>
      <div *ngFor="let period of period_Thursday">
        <div class="card">
          <div><strong>{{period.subjectName}} - {{period.period.type}}</strong></div>
          <div>Kezdés: {{period.period.start}}</div>
          <div>Hossza: {{period.period.length}} perc</div>
        </div>
      </div>
    </div>
    <div class="col card base">
      <div class="text-center"><h5>Péntek</h5></div>
      <div *ngFor="let period of period_Friday">
        <div class="card">
          <div><strong>{{period.subjectName}} - {{period.period.type}}</strong></div>
          <div>Kezdés: {{period.period.start}}</div>
          <div>Hossza: {{period.period.length}} perc</div>
        </div>
      </div>
    </div>
  </div>
</div>

